# Dependencies
node_modules
tic-tac-toe/node_modules

# Build output
dist
tic-tac-toe/dist

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor directories
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Vite
.vite
tic-tac-toe/.vite
